.container {
  padding: 20px;
  border: 1px solid;
  overflow: hidden;
  margin-top: 20px;
}

.controlWrapper {
  margin-bottom: 5rem;
}

.controlWrapper button {
  margin-right: 5px;
}
.controlWrapper span {
  margin-right: 10px;
}

.branch {
  height: 2px;
  background-color: red;

  position: absolute;
  top: 0;
  left: 100%;
}

.tree {
  transform: rotate(-90deg) translate(-160px, 100px);
  width: 538px;
  height: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tree > .branch {
  position: relative;
  margin: 200px 0;
  top: 0;
  left: 0;
}
